<h2>Cadastrar Aluno</h2>

<form (ngSubmit)="salvar()">
<label for="codaluno">Código:</label>
<input id="codaluno" [(ngModel)]='Aluno.codaluno' name="codaluno"
required />

<label for="nomealuno">Nome:</label>
<input id="nomealuno" [(ngModel)]='Aluno.nomealuno' name="nomealuno"
required />

<label for="curso">Curso:</label>
<input id="curso" [(ngModel)]='Aluno.curso' name="curso" required />

<label for="sexo">Sexo:</label>
<input id="sexo"

[(ngModel)]="Aluno.sexo" name="sexo" required />

<button type="submit">Salvar</button>
</form>
