<h2>Cadastrar Cursos</h2>

<form (ngSubmit)="salvar()">

    <label for="codcurso">Código:</label>
    <input id="codcurso" [(ngModel)]="Curso.codcurso" name="codcurso" required />
  
    <label for="nomecurso">Nome Curso:</label>
    <input id="nomecurso" [(ngModel)]="Curso.nomecurso" name="nomecurso" required />
  
    <label for="descricao">Descrição:</label>
    <input id="descricao" [(ngModel)]="Curso.descricao" name="descricao" required />
  
    <label for="cargaS">Carga Horária:</label>
    <input id="cargaS" [(ngModel)]="Curso.cargaS" name="cargaS" required />
  
    <label for="disciplinas">Disciplinas:</label>
    <input id="disciplinas" [(ngModel)]="Curso.disciplinas" name="disciplinas" required />
  
    <button type="submit">Salvar</button>

  </form>
  
