<h2>Cadastrar Disciplina</h2>

<form (ngSubmit)="salvar()">
<label for="coddisciplina">Código:</label>
<input id="coddisciplina" [(ngModel)]='Disciplina.coddisciplina' name="coddisciplina"
required />

<label for="nomedisciplina">Nome:</label>
<input id="nomedisciplina" [(ngModel)]='Disciplina.nomedisciplina' name="nomedisciplina"
required />

<label for="curso">Curso:</label>
<input id="curso" [(ngModel)]='Disciplina.ementa' name="curso" required />

<label for="cargaS">Carga Horária:</label>
<input id="cargaS" [(ngModel)]='Disciplina.Carga_horaria' name="cargaS" required />

<label for="professores">Professores:</label>
<input id="professores" [(ngModel)]='Disciplina.professores' name="professores" required />

<button type="submit">Salvar</button>
</form>
