<h2>Editar Disciplinas</h2>
<form (ngSubmit)="atualizar()">
  <label for="coddisciplina">Código:</label>
      <input
        id="coddisciplina"
        [(ngModel)]="Disciplina.coddisciplina"
        name="coddisciplina"
        required
        readonly
      />



  <label for="nomedisciplina">Nome:</label>
      <input
        id="nomedisciplina"
        [(ngModel)]="Disciplina.nomedisciplina"
        name="nomedisciplina"
        required
      />

  <label for="ementa">Descrição:</label>
      <input
        id="ementa"
        [(ngModel)]="Disciplina.ementa"
        name="ementa"
        required
      />

  <label for="cargaS">Carga Horária:</label>
      <input
        id="cargaS"
        [(ngModel)]="Disciplina.Carga_horaria"
        name="cargaS"
        required
      />

      <label for="professores">Professores:</label>
      <input
        id="Professores"
        [(ngModel)]="Disciplina.professores"
        name="professores"
        required
      />

   <button type="submit">Atualizar</button>
</form>

