<h2>Lista de Cursos</h2>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Carga Horária</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos">
      <td>{{ curso.codcurso }}</td>
      <td>{{ curso.nomecurso }}</td>
      <td>{{ curso.descricao }}</td>
      <td>{{ curso.cargaS }}</td>
      <td>
        <button routerLink="/listacurso" (click)="editar(curso)">Editar</button>
        <button (click)="excluir('curso_id')">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
