<h2>Editar Cursos</h2>
<form (ngSubmit)="atualizar()">
  <label for="codcurso">Código:</label>
      <input
        id="codaluno"
        [(ngModel)]="Curso.codcurso"
        name="codaluno"
        required
        readonly
      />

  <label for="nome curso">Nome do Curso</label>
      <input
        id="nomealuno"
        [(ngModel)]="Curso.nomecurso"
        name="nomealuno"
        required
      />

  <label for="curso">Descricao</label>
      <input
        id="curso"
        [(ngModel)]="Curso.descricao"
        name="curso"
        required
      />

  <label for="sexo">Sexo:</label>
      <input
        id="sexo"
        [(ngModel)]="Curso.cargaS"
        name="sexo"
        required
      />


      <label for="sexo">Sexo:</label>
      <input
        id="sexo"
        [(ngModel)]="Curso.disciplinas"
        name="sexo"
        required
      />

   <button type="submit">Atualizar</button>
</form>

