<h2>Lista das Disciplinas</h2>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Ementa</th>
      <th>Carga Horária</th>
      <th>Professores</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let disciplina of disciplinas">
      <td>{{ disciplina.coddisciplina }}</td>
      <td>{{ disciplina.nomedisciplina }}</td>
      <td>{{ disciplina.ementa }}</td>
      <td>{{ disciplina.Carga_horaria }}</td>
      <td>{{ disciplina.professores }}</td>
      <td>
        <button (click)="editar(disciplina)">Editar</button>
        <button (click)="excluir('disciplina_id')">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
